<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <style>
    .header {
      margin-left: 20px;
    }
    .info {
      margin-left: 20px;
    }
    .block {
      margin: 20px;
    }
    .share {
      text-align: right;
    }
    td a {
      text-decoration: none;
      color: black;
    }
  </style>
</head>
<body>
  <div>
    <a href="/">24 小時</a>
    <a href="/48">48 小時</a>
    <a href="/admin">全部資料</a>
  </div>
  <h1 class="header"><%= title %></h1>
  <div class="block">
    <table class="pure-table pure-table-bordered shares">
      <thead>
        <tr>
          <th>總互動數</th>
          <th>標題</th>
          <th>時間</th>
        </tr>
      </thead>
      <tbody>
      <% shares.forEach(function(share) { %>
        <tr>
          <td class="share"><%= share.share_count%></td>
          <td>
            <a href="<%= share.id%>" target="_blank">
              <%= share.title%>
            </a>
          </td>
          <td><%= moment(share.date).format("MM-DD HH:mm")%></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
  <div class="block">
    <table class="pure-table pure-table-bordered comments">
      <thead>
        <tr>
          <th>留言數</th>
          <th>標題</th>
          <th>時間</th>
        </tr>
      </thead>
      <tbody>
      <% comments.forEach(function(comment) { %>
        <tr>
          <td class="share"><%= comment.comment_count%></td>
          <td>
            <a href="<%= comment.id%>" target="_blank">
              <%= comment.title%>
            </a>
          </td>
          <td><%= moment(comment.date).format("MM-DD HH:mm")%></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
</body>
</html>
